<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clientes</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios-master/dist/axios.min.js"></script>
  <script src="js/vue-the-mask-master/dist/vue-the-mask.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <div id="clientes">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="menu.html">Voltar ao Menu Principal</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="alert alert-success dismissible fade show"></div>
      <div id="main" class="container-fluid">

        <!-- Titulo da Ação do Menu -->
        <h2 class="page-header text-center">{{tituloAcao}}</h2>
        <br>

        <!-- Botões do Menu -->
        <h2 v-if="exibeMenuSuperior" class="text-center">
          <button type="button" class="btn btn-primary" v-on:click="exibirCadastroCliente();">
            Cadastrar Cliente
          </button>

          <button type="button" class="btn btn-primary" v-on:click="listarClientes();">Listar
            Clientes
          </button>

          <button v-if="arrayClientesSelecionadosExclusao.length > 0" v-on:click="deletaClientesSelecionados();"
            type="button" class="btn btn-danger">Excluir
            Cliente(s) Selecionado(s)
          </button>

          <button v-if="habilitaBotaoExcluirMultiplosUsuarios === true" type="button" class="btn btn-danger"
            v-on:click="deletaTodosClientesDaLista();">Excluir
            Todos Clientes</button>
        </h2>

        <nav v-bind:class="{invisible: showPages}" v-if="paginationVisivel" class="text-center"
          aria-label="Page navigation">
          <ul class="pagination">

            <!-- Botão volta -->
            <li v-bind:class="{invisible: showPrevBtn }" v-on:click="page--; listarClientes();">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Paginação -->
            <li v-for="pagination in qtdaPaginacaoListaClientes" v-on:click="listarClientes(pagination);">
              <a> {{pagination}}</a>
            </li>

            <!-- Botão avança -->
            <li v-bind:class="{invisible: shownextBtn}" v-on:click="page++; listarClientes();">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>


        <div v-if="paginationVisivel" class="text-center">
          <b>Você está na página : {{page}}</b>
        </div>

        <!-- Drodow/Caixa de Seleção - Qtda por página -->
        <div v-if="paginationVisivel" class="dropup">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Itens por página : {{qtdaClientesPorPagina}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li v-on:click="qtdaClientesPorPagina = 5; listarClientes(1);"><a>5</a></li>
            <li v-on:click="qtdaClientesPorPagina = 20; listarClientes(1);"><a>20</a></li>
            <li v-on:click="qtdaClientesPorPagina = 30; listarClientes(1);"><a>30</a></li>
            <li v-on:click="qtdaClientesPorPagina = 50; listarClientes(1);"><a>50</a></li>
          </ul>
        </div>
        <br><br>

        <div v-if="menuListarClientes">
        <b>Pesquisa com filtro:</b>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn" style="width: 200px;">
                  <select class="form-control" v-model.trim="filter.campoBusca">
                    <option>Selecione</option>
                    <option value="NomeCliente">Nome</option>
                    <option value="CpfCliente">CPF</option>
                    <option value="DataNascimento">Data Nascimento</option>
                    <option value="EnderecoCliente">Rua</option>
                    <option value="NumMoradiaCliente">Número Moradia</option>
                    <option value="BairroCliente">Bairro</option>
                    <option value="CidadeCliente">Cidade</option>
                    <option value="EstadoCliente">Estado</option>
                    <option value="PaisCliente">País</option>
                    <option value="TelefoneCliente">Telefone</option>
                    <option value="CelularCliente">Celular</option>
                    <option value="EmailCliente">E-mail</option>
                    <option value="CepCliente">CEP</option>
                  </select>
                </div><!-- /btn-group -->
                <input v-bind="{disabled: !filter.campoBusca || filter.campoBusca === 'Selecione'}" type="text"
                  v-model.trim="filter.busca" v-on:keyup.enter="listarClientes(1,filter);" class="form-control">
                <div class="input-group-btn">
                  <button class="btn btn-danger" v-on:click="listarClientes(1,filter);">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

        </div>
        </div>

        <!-- Cadastrar / Alterar Clientes -->
        <div v-if="menuCadastroCliente" class="container-fluid">
          <br> <br>
          <div class="row">
            <div class="col-sm-12">
              <form action="">
                <div class="text-center">
                  <div class="row">

                    <div class="form-group col-md-6">
                      <label for="nome">Nome</label>
                      <input v-model.trim="nome" placeholder="Insira seu Nome" class="form-control" id="nome"
                        name="nome" ref="nome">
                    </div>

                    <div class="form-group col-md-6">
                      <label for="rua">Rua</label>
                      <input v-model.trim="endereco" placeholder="Insira sua Rua" type="text" class="form-control"
                        id="rua" name="rua">
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-md-3">
                      <label for="cpf">CPF </label>
                      <input v-model.trim="cpf" v-mask="'###.###.###-##'" placeholder="Insira seu CPF" type="text"
                        class="form-control" id="cpf" name="cpf">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="cep">CEP </label>
                      <input v-model.trim="cep" v-mask="['#####-###', '#####-####', '#####-#####']"
                        placeholder="Insira seu CEP" type="text" class="form-control" id="cep" name="cep">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="bairro"> Bairro </label>
                      <input v-model.trim="bairro" placeholder="Insira seu Bairro" type="text" class="form-control"
                        id="bairro" name="bairro">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="numero"> Número </label>
                      <input v-model.trim="numero" placeholder="Insira seu Número" type="text" class="form-control"
                        id="numero" name="numero">
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-md-6">
                      <label for="nome">E-mail</label>
                      <input v-model.trim="email" placeholder="Insira seu E-mail" class="form-control" id="email"
                        name="email" ref="email">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="nascimento">Data Nascimento </label>
                      <input v-model.trim="nascimento" v-mask="'##/##/####'" placeholder="Insira Data de Nascimento"
                        type="text" class="form-control" id="nascimento" name="nascimento">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="estado">País</label>
                      <input v-model.trim="pais" placeholder="Insira seu País" type="text" class="form-control"
                        id="pais" name="pais">
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-group col-md-3">
                      <label for="cidade">Cidade</label>
                      <input v-model.trim="cidade" placeholder="Insira sua Cidade" type="text" class="form-control"
                        id="cidade" name="cidade">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="estado">Estado</label>
                      <input v-model.trim="estado" placeholder="Insira seu Estado" type="text" class="form-control"
                        id="estado" name="estado">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="estado">Celular</label>
                      <input v-model.trim="celular" v-mask="'(##) #####-####'" placeholder="Insira seu Celular"
                        type="text" class="form-control" id="celular" name="celular">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="estado">Telefone</label>
                      <input v-model.trim="telefone" v-mask="'(##) #####-####'" placeholder="Insira seu Telefone"
                        type="text" class="form-control" id="telefone" name="telefone">
                    </div>
                  </div>

                  <!-- Botões Cadastro de Cliente -->
                  <div v-if="exibeBtnsCadastro" class="row">
                    <button class="btn btn-success" v-on:click.prevent="cadastraCliente();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Cadastrar
                    </button>

                    <button class="btn btn-primary" v-on:click.prevent="limparCamposFormularioCadastroPessoa();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Limpar Campos
                    </button>
                  </div>

                  <!-- Botões Edição de Cliente -->
                  <div v-if="exibeBtnsEdicao" class="row">
                    <button class="btn btn-success" v-on:click.prevent="salvaEdicaoCliente();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Salvar Alteração
                    </button>

                    <button class="btn btn-danger"
                      v-on:click.prevent="exibirListarCliente(); limparCamposFormularioCadastroPessoa();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Cancelar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

        <!-- Listar Clientes -->
        <div v-if="menuListarClientes">
          <br> <br>
          <div style="overflow-x:auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" v-bind:checked="checkBoxDesabilitadoMenu"
                      v-on:click="habilitaEDesabilitaCheckBoxExcluiTodosClientes();">
                    </td>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Id <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'IdCliente',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'IdCliente',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Nome <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a v-on:click="listarClientes(1,{campo:'NomeCliente',sort:'ASC'});">A -> Z </a>
                        </li>
                        <li>
                          <a v-on:click="listarClientes(1,{campo:'NomeCliente',sort:'DESC'});">Z -> A</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        CPF <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'CpfCliente',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'CpfCliente',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Nascimento <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'DataNascimento',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarClientes(1,{campo:'DataNascimento',sort:'DESC'});">Maior -> Menor</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Endereço <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'EnderecoCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'EnderecoCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Número <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'NumMoradiaCliente',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarClientes(1,{campo:'NumMoradiaCliente',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Bairro <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'BairroCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'BairroCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Cidade <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'CidadeCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'CidadeCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Estado <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'EstadoCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'EstadoCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        País <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'PaisCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'PaisCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Telefone <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'TelefoneCliente',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarClientes(1,{campo:'TelefoneCliente',sort:'DESC'});">Maior -> Menor</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Celular <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'CelularCliente',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarClientes(1,{campo:'CelularCliente',sort:'DESC'});">Maior -> Menor</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        E-mail <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'EmailCliente',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'EmailCliente',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        CEP <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarClientes(1,{campo:'CepCliente',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarClientes(1,{campo:'CepCliente',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cliente in arrayClientes">
                  <td><input type="checkbox" v-bind:checked="checkBoxMarcado" v-bind:disabled="checkBoxDesabilitado"
                      v-on:click="selecionaClienteParaExclusao(cliente.IdCliente);"></td>
                  <td>{{cliente.IdCliente}}</td>
                  <td>{{cliente.NomeCliente}}</td>
                  <td>{{cliente.CpfCliente}}</td>
                  <td>{{cliente.DataNascimento}}</td>
                  <td>{{cliente.EnderecoCliente}}</td>
                  <td>{{cliente.NumMoradiaCliente}}</td>
                  <td>{{cliente.BairroCliente}}</td>
                  <td>{{cliente.CidadeCliente}}</td>
                  <td>{{cliente.EstadoCliente}}</td>
                  <td>{{cliente.PaisCliente}}</td>
                  <td>{{cliente.TelefoneCliente}}</td>
                  <td>{{cliente.CelularCliente}}</td>
                  <td>{{cliente.EmailCliente}}</td>
                  <td>{{cliente.CepCliente}}</td>
                  <td><button class="btn btn-warning"
                      v-on:click="SalvaDadosParaEditarCliente(cliente.IdCliente);">Editar</button>
                  </td>
                  <td><button class="btn btn-danger" v-on:click="deletaCliente(cliente.IdCliente);">Excluir</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="Modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Atenção </h4>
          </div>
          <div class="modal-body">
            <p> Por favor, preencha todos os campos! </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="js/clientes.js"></script>
</body>

</html>