<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Título da Página -->
    <title>Login</title>

    <!-- Importações -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios-master/dist/axios.min.js"></script>
    <script src="js/vue-the-mask-master/dist/vue-the-mask.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div id="index" class="container-fluid ">
        <nav class="navbar navbar-inverse navbar-fixed-top">
        </nav>
        <br>
        <div id="main" class="container-fluid">
            <br><br>

            <h2 class="page-header text-center">Acesso Administrativo</h2>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="">
                            <div class="text-center">
                                <div class="row">
                                    <div class="form-group col-md-4"></div>

                                    <div class="form-group col-md-4">
                                        <label for="nome">Usuário</label>
                                        <input v-model.trim="usuario" placeholder="Insira Usuário" class="form-control"
                                            id="usuario" name="usuario" ref="usuario">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4"></div>

                                    <div class="form-group col-md-4">
                                        <label for="nome">Senha</label>
                                        <input v-model.trim="senha" placeholder="Insira Senha" class="form-control"
                                            id="senha" name="senha">
                                    </div>
                                </div>

                                <div class="row">
                                    <button class="btn btn-success" v-on:click.prevent="loginUsuario();"
                                        id="btn_cadastrar" name="btn_cadastrar" style="width: 150px;">
                                        Acessar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Atenção - Acesso Restrito </h4>
                    </div>
                    <div class="modal-body">
                        <p v-if="modalCamposEmBranco"> {{msgCamposEmBranco}} </p>
                        <p v-if="modalUsuarioNaoValidado"> {{ msgUsuarioNaoValidado}} </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Importação de Arquivo com Lógica de Negócio -->
    <script src="js/functions_globals.js"></script>
    <script src="js/index.js"></script>
</body>

</html>