<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pedidos</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios-master/dist/axios.min.js"></script>
  <script src="js/vue-the-mask-master/dist/vue-the-mask.js"></script>
  <script src="js/v-money-master/dist/v-money.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <div id="pedidos">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="menu.html">Voltar ao Menu Principal</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="alert alert-success dismissible fade show"></div>
      <div id="main" class="container-fluid">

        <!-- Titulo da Ação do Menu -->
        <h2 class="page-header text-center">{{tituloAcao}}</h2>
        <br>

        <!-- Botões do Menu -->
        <h2 class="text-center">
          <button type="button" class="btn btn-primary" v-on:click="exibirCadastroPedido(); carregaComboxes();">
            Cadastrar Pedido
          </button>

          <button type="button" class="btn btn-primary" v-on:click="listarPedidos();">Listar
            Pedidos
          </button>

          <button v-if="arrayPedidosSelecionadosExclusao.length > 0" v-on:click="deletaPedidosSelecionados();"
            type="button" class="btn btn-danger">Excluir
            Pedido(s) Selecionado(s)
          </button>

          <button v-if="habilitaBotaoExcluirMultiplosPedidos === true" type="button" class="btn btn-danger"
            v-on:click="deletaTodosPedidosDaLista();">Excluir
            Todos Pedidos</button>
        </h2>

        <nav v-bind:class="{invisible: showPages}" v-if="paginationVisivel" class="text-center"
          aria-label="Page navigation">
          <ul class="pagination">

            <!-- Botão volta -->
            <li v-bind:class="{invisible: showPrevBtn }" v-on:click="page--; listarPedidos();">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Paginação -->
            <li v-for="pagination in qtdaPaginacaoListaPedidos" v-on:click="listarPedidos(pagination);">
              <a> {{pagination}}</a>
            </li>

            <!-- Botão avança -->
            <li v-bind:class="{invisible: shownextBtn}" v-on:click="page++; listarPedidos();">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>


        <div v-if="paginationVisivel" class="text-center">
          <b>Você está na página : {{page}}</b>
        </div>

        <!-- Drodow/Caixa de Seleção - Qtda por página -->
        <div v-if="paginationVisivel" class="dropup">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Itens por página : {{qtdaPedidosPorPagina}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li v-on:click="qtdaPedidosPorPagina = 5; listarPedidos(1);"><a>5</a></li>
            <li v-on:click="qtdaPedidosPorPagina = 20; listarPedidos(1);"><a>20</a></li>
            <li v-on:click="qtdaPedidosPorPagina = 30; listarPedidos(1);"><a>30</a></li>
            <li v-on:click="qtdaPedidosPorPagina = 50; listarPedidos(1);"><a>50</a></li>
          </ul>
        </div>
        <br><br>

        <div v-if="menuListarPedidos">
          <b>Pesquisa com filtro:</b>
          <div>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <div class="input-group-btn" style="width: 200px;">
                    <select class="form-control" v-model.trim="filter.campoBusca">
                      <option>Selecione</option>
                      <option value="IdPedidoCompra">Id Pedido</option>
                      <option value="DataPedidoCompra">Data</option>
                      <option value="HorarioPedidoCompra">Hora</option>
                      <option value="StatusPedidoCompra">Status</option>
                      <option value="PrecoUnitarioItensPedido">Preço Unitário</option>
                      <option value="QtdaProdutoItensPedido">Quantidade Produto</option>
                      <option value="PrecoTotalItensPedido">Preço Total </option>
                    </select>
                  </div><!-- /btn-group -->
                  <input v-bind="{disabled: !filter.campoBusca || filter.campoBusca === 'Selecione'}" type="text"
                    v-model.trim="filter.busca" v-on:keyup.enter="listarPedidos(1,filter);" class="form-control">
                  <div class="input-group-btn">
                    <button class="btn btn-danger" v-on:click="listarPedidos(1,filter);">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

          </div>
        </div>

        <!-- Cadastrar / Alterar Clientes -->
        <div v-if="menuCadastroPedido" class="container-fluid">
          <br> <br>
          <div class="row">
            <div class="col-sm-12">
              <form action="">
                <div class="text-center">

                  <div class="row">
                    <div class="form-group col-md-3">
                      <div class="row">
                        <div class="col-lg-12">
                          <label for="nome">Selecione um Produto</label>
                          <div class="input-group">
                            <div class="input-group-btn" style="width: 500px;">
                              <select class="form-control" v-model="resetComboboxProdutos"
                                v-on:change="armazenaIdProduto($event);">
                                <option v-bind:value="undefined">Selecione um Produto </option>
                                <option v-for="produto in arrayComboProdutos" v-bind:value="produto.IdProduto">
                                  {{produto.NomeProduto}}
                                </option>
                                </option>
                              </select>

                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                    </div>


                    <div class="form-group col-md-3">
                      <label for="preco_unitario">Produto Selecionado: </label>
                      <input disabled class="form-control" v-model="recebeNomeDoProdutoDoCombobxProduto">
                    </div>


                    <div class="form-group col-md-3">
                      <label for="preco_unitario">Preço Unitário </label>
                      <input v-model.lazy="jsonPedidoSalvar.PrecoUnitarioItensPedido"
                        v-money="jsonPedidoSalvar.PrecoUnitarioItensPedido" placeholder="Insira o Preço Unitário"
                        class="form-control" id="PrecoUnitarioItensPedido" name="PrecoUnitarioItensPedido">
                    </div>
                    <!--  {{valorTotalPedido}} -->
                    <div class="form-group col-md-3">
                      <label for="QtdaProdutoItensPedido">Quantidade </label>
                      <input type="number" v-model="jsonPedidoSalvar.QtdaProdutoItensPedido"
                        placeholder="Insira a Quantidade de Produtos" type="text" class="form-control"
                        id="QtdaProdutoItensPedido" name="QtdaProdutoItensPedido">
                    </div>

                    <div class="form-group col-md-3">
                      <div class="row">
                        <div class="col-lg-12">
                          <label for="nome">Selecione um Cliente</label>
                          <div class="input-group">
                            <div class="input-group-btn" style="width: 500px;">

                              <select class="form-control" v-model="resetComboboxClientes"
                                v-on:change="armazenaIdCliente($event);">
                                <option v-bind:value="undefined">Selecione um Cliente </option>
                                <option v-for="cliente in arrayComboClientes" v-bind:value="cliente.IdCliente">
                                  {{cliente.NomeCliente}}
                                </option>
                                </option>
                              </select>

                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                    </div>

                    <div class="form-group col-md-3">
                      <label for="preco_unitario">Cliente Selecionado: </label>
                      <input disabled class="form-control" v-model="recebeNomeDoClienteDoCombobxProduto">
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-md-3">
                      <label for="data">Data </label>
                      <input v-model="jsonPedidoSalvar.DataPedidoCompra" placeholder="___/___/___"
                        v-mask="['##/##/####']" class="form-control" id="data" name="data">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="hora">Hora </label>
                      <input v-model="jsonPedidoSalvar.HorarioPedidoCompra" placeholder="00:00" v-mask="['##:##']"
                        class="form-control" id="hora" name="hora">
                    </div>

                    <div class="form-group col-md-3">
                      <div class="row">
                        <div class="col-lg-12">
                          <label for="nome">Status do Pedido</label>
                          <div class="input-group">
                            <div class="input-group-btn" style="width: 500px;">

                              <select class="form-control" v-model="resetComboboxStatus"
                                v-on:change="armazenaStatusPedido($event);">
                                <option v-bind:value="undefined">Selecione um Status para o Pedido </option>
                                <option value="Em Aberto">Em Aberto</option>
                                <option value="Pago">Pago</option>
                                <option value="Cancelado">Cancelado</option>
                              </select>

                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                    </div>

                    <div class="form-group col-md-3">
                      <label for="preco_unitario">Status Selecionado: </label>
                      <input disabled class="form-control"
                        v-bind:recebeNomeDoStatusDoCombobxProduto="jsonPedidoSalvar.StatusPedidoCompra"
                        v-model="recebeNomeDoStatusDoCombobxProduto">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="preco_total_pedido">Preço total do Pedido </label>
                      <input disabled class="form-control" id="preco_total_pedido" name="preco_total_pedido"
                        v-bind:value="valorTotalPedido">
                    </div>
                  </div>

                  <!-- Botões Cadastro de Produto -->
                  <div v-if="exibeBtnsCadastro" class="row">
                    <button class="btn btn-success" v-on:click.prevent="cadastraPedido();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Salvar Pedido
                    </button>

                    <button class="btn btn-primary" v-on:click.prevent="limparCamposFormularioCadastroPedido();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Limpar Campos
                    </button>
                  </div>

                  <!-- Botões Edição de Cliente -->
                  <div v-if="exibeBtnsEdicao" class="row">
                    <button class="btn btn-success" v-on:click.prevent="salvaEdicaoPedido();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Salvar Alteração
                    </button>

                    <button class="btn btn-danger"
                      v-on:click.prevent="exibirListarPedido(); limparCamposFormularioCadastroPedido();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Cancelar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

        <!-- Listar Clientes -->
        <div v-if="menuListarPedidos">
          <br> <br>
          <div style="overflow-x:auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" v-bind:checked="checkBoxDesabilitadoMenu"
                      v-on:click="habilitaEDesabilitaCheckBoxExcluiTodosPedidos();">
                    </td>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Id <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'IdPedidoCompra',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarPedidos(1,{campo:'IdPedidoCompra',sort:'DESC'});">Maior -> Menor</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Data <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a v-on:click="listarPedidos(1,{campo:'DataPedidoCompra',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li>
                          <a v-on:click="listarPedidos(1,{campo:'DataPedidoCompra',sort:'DESC'});">Maior -> Menor</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Hora <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'HorarioPedidoCompra',sort:'ASC'});">Menor ->
                            Maior</a></li>
                        <li><a v-on:click="listarPedidos(1,{campo:'HorarioPedidoCompra',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Status <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'StatusPedidoCompra',sort:'ASC'});">Em Aberto</a>
                        </li>
                        <li><a v-on:click="listarPedidos(1,{campo:'StatusPedidoCompra',sort:'ASC'});">Pago</a>
                        </li>
                        <li><a v-on:click="listarPedidos(1,{campo:'StatusPedidoCompra',sort:'ASC'});">Cancelado</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Preço Unitario <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'PrecoUnitarioItensPedido',sort:'ASC'});">Menor ->
                            Maior</a></li>
                        <li><a v-on:click="listarPedidos(1,{campo:'PrecoUnitarioItensPedido',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Quantidade <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'QtdaProdutoItensPedido',sort:'ASC'});">Menor ->
                            Maior</a>
                        </li>
                        <li><a v-on:click="listarPedidos(1,{campo:'QtdaProdutoItensPedido',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Preço Total <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarPedidos(1,{campo:'PrecoTotalItensPedido',sort:'ASC'});">Menor ->
                            Maior</a></li>
                        <li><a v-on:click="listarPedidos(1,{campo:'PrecoTotalItensPedido',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="pedido in arrayPedidos">
                  <td><input type="checkbox" v-bind:checked="checkBoxMarcado" v-bind:disabled="checkBoxDesabilitado"
                      v-on:click="selecionaPedidoParaExclusao(pedido.IdPedidoCompra);"></td>
                  <td>{{pedido.IdPedidoCompra}}</td>
                  <td>{{pedido.DataPedidoCompra}}</td>
                  <td>{{pedido.HorarioPedidoCompra}}</td>
                  <td>{{pedido.StatusPedidoCompra}}</td>
                  <td>{{pedido.PrecoUnitarioItensPedido}}</td>
                  <td>{{pedido.QtdaProdutoItensPedido}}</td>
                  <td>{{pedido.PrecoTotalItensPedido}}</td>
                  <td><button class="btn btn-primary" v-on:click="verDetalhesDoCliente(pedido.IdCliente);">Ver
                      Cliente</button>
                  </td>
                  <td><button class="btn btn-primary" v-on:click="verDetalhesDoProduto(pedido.IdProduto);">Ver
                    Produto</button>
                </td>
                  <td><button class="btn btn-warning"
                      v-on:click="SalvaDadosParaEditarPedido(pedido.IdPedidoCompra);">Editar</button>
                  </td>
                  <td><button class="btn btn-danger" v-on:click="deletaPedido(pedido.IdPedidoCompra);">Excluir</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="Modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Atenção</h4>
          </div>
          <div class="modal-body">
            <p> Por favor, preencha todos os campos! </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="js/pedidos.js"></script>
</body>

</html>