<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Produtos</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios-master/dist/axios.min.js"></script>
  <script src="js/vue-the-mask-master/dist/vue-the-mask.js"></script>
  <script src="js/v-money-master/dist/v-money.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <div id="produtos">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="menu.html">Voltar ao Menu Principal</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="alert alert-success dismissible fade show"></div>
      <div id="main" class="container-fluid">

        <!-- Titulo da Ação do Menu -->
        <h2 class="page-header text-center">{{tituloAcao}}</h2>
        <br>

        <!-- Botões do Menu -->
        <h2 v-if="exibeMenuSuperior" class="text-center">
          <button type="button" class="btn btn-primary" v-on:click="exibirCadastroProduto();">
            Cadastrar Produto
          </button>

          <button type="button" class="btn btn-primary" v-on:click="listarProdutos();">Listar
            Produtos
          </button>

          <button v-if="arrayProdutosSelecionadosExclusao.length > 0" v-on:click="deletaProdutosSelecionados();"
            type="button" class="btn btn-danger">Excluir
            Produtos(s) Selecionado(s)
          </button>

          <button v-if="habilitaBotaoExcluirMultiplosProdutos === true" type="button" class="btn btn-danger"
            v-on:click="deletaTodosProdutosDaLista();">Excluir
            Todos Produtos</button>
        </h2>

        <nav v-bind:class="{invisible: showPages}" v-if="paginationVisivel" class="text-center"
          aria-label="Page navigation">
          <ul class="pagination">

            <!-- Botão volta -->
            <li v-bind:class="{invisible: showPrevBtn }" v-on:click="page--; listarProdutos();">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Paginação -->
            <li v-for="pagination in qtdaPaginacaoListaProdutos" v-on:click="listarProdutos(pagination);">
              <a> {{pagination}}</a>
            </li>

            <!-- Botão avança -->
            <li v-bind:class="{invisible: shownextBtn}" v-on:click="page++; listarProdutos();">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>


        <div v-if="paginationVisivel" class="text-center">
          <b>Você está na página : {{page}}</b>
        </div>

        <!-- Drodow/Caixa de Seleção - Qtda por página -->
        <div v-if="paginationVisivel" class="dropup">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Itens por página : {{qtdaProdutosPorPagina}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li v-on:click="qtdaProdutosPorPagina = 5; listarProdutos(1);"><a>5</a></li>
            <li v-on:click="qtdaProdutosPorPagina = 20; listarProdutos(1);"><a>20</a></li>
            <li v-on:click="qtdaProdutosPorPagina = 30; listarProdutos(1);"><a>30</a></li>
            <li v-on:click="qtdaProdutosPorPagina = 50; listarProdutos(1);"><a>50</a></li>
          </ul>
        </div>
        <br><br>

        <div v-if="menuListarProdutos">
        <b>Pesquisa com filtro:</b>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn" style="width: 200px;">
                  <select class="form-control" v-model.trim="filter.campoBusca">
                    <option>Selecione</option>
                    <option value="NomeProduto">Nome</option>
                    <option value="DescricaoProduto">Descricao</option>
                    <option value="MarcaProduto">Marca</option>
                    <option value="PrecoProduto">Preço</option>
                    <option value="QtdaProduto">Quantidade</option>
                    <option value="CodigoBarrasProduto">Código de Barras</option>
                  </select>
                </div><!-- /btn-group -->
                <input v-bind="{disabled: !filter.campoBusca || filter.campoBusca === 'Selecione'}" type="text"
                  v-model.trim="filter.busca" v-on:keyup.enter="listarProdutos(1,filter);" class="form-control">
                <div class="input-group-btn">
                  <button class="btn btn-danger" v-on:click="listarProdutos(1,filter);">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

        </div>
        </div>

        <!-- Cadastrar / Alterar Clientes -->
        <div v-if="menuCadastroProduto" class="container-fluid">
          <br> <br>
          <div class="row">
            <div class="col-sm-12">
              <form action="">
                <div class="text-center">
                  <div class="row">

                    <div class="form-group col-md-6">
                      <label for="nome">Nome</label>
                      <input v-model.trim="nome" placeholder="Insira nome do Produto" class="form-control" id="nome"
                        name="nome" ref="nome">
                    </div>

                    <div class="form-group col-md-6">
                      <label for="rua">Descrição</label>
                      <input v-model.trim="descricao" placeholder="Insira uma breve Descrição" type="text" class="form-control"
                        id="descricao" name="descricao">
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-md-3">
                      <label for="cpf">Marca </label>
                      <input v-model.trim="marca" placeholder="Insira a Marca do Produto" type="text"
                        class="form-control" id="marca" name="marca">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="cep">Preço </label>
                      <!-- <input v-model.trim="preco" v-mask="['#####-###', '#####-####', '#####-#####']"
                        placeholder="Insira o Preço do Produto" type="text" class="form-control" id="preco" name="preco"> -->
                        <input v-model.lazy="preco" v-money="money" placeholder="Insira o Preço do Produto" class="form-control" id="preco" name="preco">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="bairro"> Quantidade </label>
                      <input v-model.trim="qtda" placeholder="Insira a Quantidade do Produto" type="number" class="form-control"
                        id="qtda" name="qtda">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="numero"> Código de Barras </label>
                      <input v-model.trim="codigo_barras" placeholder="Insira o Código de Barras do Produto" v-mask="['#############']" class="form-control"
                        id="codigo_barras" name="codigo_barras">
                    </div>
                  </div>

                  <!-- Botões Cadastro de Produto -->
                  <div v-if="exibeBtnsCadastro" class="row">
                    <button class="btn btn-success" v-on:click.prevent="cadastraProduto();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Cadastrar
                    </button>

                    <button class="btn btn-primary" v-on:click.prevent="limparCamposFormularioCadastroProduto();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Limpar Campos
                    </button>
                  </div>

                  <!-- Botões Edição de Cliente -->
                  <div v-if="exibeBtnsEdicao" class="row">
                    <button class="btn btn-success" v-on:click.prevent="salvaEdicaoProduto();" id="btn_cadastrar"
                      name="btn_cadastrar" style="width: 150px;">
                      Salvar Alteração
                    </button>

                    <button class="btn btn-danger"
                      v-on:click.prevent="exibirListarProduto(); limparCamposFormularioCadastroProduto();"
                      id="btn_limparCampos" name="btn_limparCampos" style="width: 150px;">
                      Cancelar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

        <!-- Listar Clientes -->
        <div v-if="menuListarProdutos">
          <br> <br>
          <div style="overflow-x:auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" v-bind:checked="checkBoxDesabilitadoMenu"
                      v-on:click="habilitaEDesabilitaCheckBoxExcluiTodosProdutos();">
                    </td>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Id <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'IdProduto',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarProdutos(1,{campo:'IdProduto',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Nome <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a v-on:click="listarProdutos(1,{campo:'NomeProduto',sort:'ASC'});">A -> Z </a>
                        </li>
                        <li>
                          <a v-on:click="listarProdutos(1,{campo:'NomeProduto',sort:'DESC'});">Z -> A</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Descrição <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'DescricaoProduto',sort:'ASC'});">A -> Z</a></li>
                        <li><a v-on:click="listarProdutos(1,{campo:'DescricaoProduto',sort:'DESC'});">Z -> A</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Marca <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'MarcaProduto',sort:'ASC'});">A -> Z</a>
                        </li>
                        <li><a v-on:click="listarProdutos(1,{campo:'MarcaProduto',sort:'DESC'});">Z -> A</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Preço <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'PrecoProduto',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarProdutos(1,{campo:'PrecoProduto',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Quantidade <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'QtdaProduto',sort:'ASC'});">Menor -> Maior</a>
                        </li>
                        <li><a v-on:click="listarProdutos(1,{campo:'QtdaProduto',sort:'DESC'});">Maior ->
                            Menor</a></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Código de Barras <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a v-on:click="listarProdutos(1,{campo:'CodigoBarrasProduto',sort:'ASC'});">Menor -> Maior</a></li>
                        <li><a v-on:click="listarProdutos(1,{campo:'CodigoBarrasProduto',sort:'DESC'});">Maior -> Menor</a></li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="produto in arrayProdutos">
                  <td><input type="checkbox" v-bind:checked="checkBoxMarcado" v-bind:disabled="checkBoxDesabilitado"
                      v-on:click="selecionaProdutoParaExclusao(produto.IdProduto);"></td>
                  <td>{{produto.IdProduto}}</td>
                  <td>{{produto.NomeProduto}}</td>
                  <td>{{produto.DescricaoProduto}}</td>
                  <td>{{produto.MarcaProduto}}</td>
                  <td>{{produto.PrecoProduto}}</td>
                  <td>{{produto.QtdaProduto}}</td>
                  <td>{{produto.CodigoBarrasProduto}}</td>
                  <td><button class="btn btn-warning"
                      v-on:click="SalvaDadosParaEditarProduto(produto.IdProduto);">Editar</button>
                  </td>
                  <td><button class="btn btn-danger" v-on:click="deletaProduto(produto.IdProduto);">Excluir</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="Modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Atenção</h4>
          </div>
          <div class="modal-body">
            <p> Por favor, preencha todos os campos! </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="js/produtos.js"></script>
</body>

</html>